/* SplashScreen.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

.splashscreen-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600; /* Poppins light weight; adjust as needed */
  font-style: normal;
  font-size: 35px;
}
